// layout
.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.flex-1 {
  flex: 1;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-ellipsis-2 {
  @extend .text-ellipsis;
  white-space: normal;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.text-ellipsis-3 {
  @extend .text-ellipsis-2;
  line-clamp: 3;
  -webkit-line-clamp: 2;
}

.text-ellipsis-4 {
  @extend .text-ellipsis-2;
  line-clamp: 4;
  -webkit-line-clamp: 4;
}

$text-align: (
  left: left,
  right: right,
  justify: justify,
  start: start,
  center: center,
);

@each $tk, $tv in $text-align {
  .text-#{$tk} {
    text-align: $tv;
  }
}

$flex-directions: (
  col: column,
  row: row,
  r-col: column-reverse,
  r-row: row-reverse,
);

@each $dk, $dv in $flex-directions {
  .flex-#{$dk} {
    flex-direction: $dv;
  }
}

$flex-axis: (
  align: align-items,
  justify: justify-content,
);

$flex-properties: (
  base: baseline,
  center: center,
  end: flex-end,
  start: flex-start,
  around: space-around,
  between: space-between,
  evenly: space-evenly,
);

@each $key, $val in $flex-axis {
  @each $k, $v in $flex-properties {
    .#{$key}-#{$k} {
      #{$val}: $v;
    }
  }
}

// space
$space-directions: (
  t: top,
  l: left,
  r: right,
  b: bottom,
);

$space-type: (
  p: padding,
  m: margin,
);

@for $var from 1 to 64 {
  @each $skey, $sval in $space-type {
    @each $sk, $sv in $space-directions {
      .#{$skey}-#{$sk}-#{$var} {
        #{$sval}-#{$sv}: #{$var}px;
      }
    }
  }
}
